.UserInfoBoxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 100%;
  border-radius: 10px;
  position: relative;
}

hr {
  position: absolute;
  width: 100%;
  color: grey;
  top: 77px;
}

@media (min-width: 600px) {
  .UserInfoBoxContainer {
    width: 70%;
    margin: 0px;
  }
}

@media (min-width: 1050px) {
  .UserInfoBoxContainer {
    width: 750px;
    margin: 0px;
  }
}
